@import "tailwindcss";

@font-face {
  font-family: "vindey";
  src: url("fonts/vindey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "vindey", sans-serif;
}

.vindey {
  font-family: "vindey", sans-serif;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #00ff88; /* Neon green */
  border-radius: 10px;
}

/* Scrollbar Track background */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
